body {
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  background-image: url(./images/med.jpg);
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  margin-bottom: 15%;
  background-image: url(./images/medup.jpg);
}

button {
  cursor: pointer;
}

th {
  cursor: pointer;
}

code {
  font-family: sans-serif;
}
tbody tr:hover {
  cursor: pointer;
  background-color: rgba(184, 212, 239, 0.5);
}

.folderGridLink:hover {
  text-decoration: none;
}

.folderGridLink {
  color: black;
}

.follow {
  background-color: #3897f0 !important;
  border: 1px solid #3897f0 !important;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px !important;
}

.DayPicker {
  width: 100%;
  height: 50%;
}

.modal-dialog {
  width: 100%;
  height: 93%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: 100%;
  width: 100%;
}

.modal-body {
  margin-bottom: 0;
  position: relative;
  overflow: hidden;
}

.modal-header {
  height: 7%;
}

.modal-footer {
  height: 5%;
}
